{% extends "base.html" %}

{% block content %}
<center><h1><strong>Customer's Informations<strong></h1></center>
<a href="{% url "customer:create" %}"><button>Create Customer Profile</button></a>
<a href="{% url 'spartamarket:list' %}"><button>Back to SpartaMarket List</button></a>

<hr>
{% for customer in customers %}
    <a href='{% url 'customer:detail' customer.customer_id %}'>
        <h2>Profile of {{ customer.customer_name }}</h2>
    </a>
        <p>Customer ID : {{ customer.customer_id }}</p>
        <p>Customer Registration date : {{ customer.customer_regdate }}</p>
        <hr>

{% endfor %}
{% endblock content %}