{% extends "base.html" %}
{% block content %}

<center><h1>Detail Profile of {{ customer.customer_id }}'s Informations</h1></center>
<hr>
    <p><strong>Customer ID</strong> : {{ customer.customer_id }}</p>
    <p><strong>Name</strong> : {{ customer.customer_name }}</p>
    <p><strong>Customer Number</strong> : {{ customer.customer_number }}
    <p><strong>Customer Registration date</strong> : {{ customer.customer_regdate }}</p>
    <hr>

<form action="{% url 'customer:delete' customer.customer_id %}" method="POST">
    {% csrf_token %}
    <button action="submit">Delete</button>
</form>

<a href="{% url "customer:update" customer.customer_id %}"><button>Fix Profile</button></a>
<a href="{% url "customer:customerlist" %}"><button>Back to Customer List</button></a>
{% endblock content %}