{% extends "base.html" %}

{% block content %}

<h2>Market's informations</h2>
<a href='{% url 'spartamarket:create' %}'><button>Create Market Informations</button></a>
<a href='{% url 'customer:customerlist' %}'><button>Go to Profile List</button></a>

<hr>
<p>
{% for market in markets_data %}
    <a href="{% url 'spartamarket:detail' market.id %}">
        <h3>[{{ market.id }}] Store of {{ market.market_zone }}</h3>
    </a>
        <p>Manager : {{ market.market_manager }}</p>
        <p>Market Number : {{ market.market_number }}</p>
        <hr>
{% endfor %}
{% endblock content %}